* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.navbarContainer {
  color: #1d1f22;
  height: 80px;
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

.navLeft {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.navLeft ul {
  list-style-type: none;
  display: flex;
}

.navLeftList {
  margin-right: 25px;
  padding-bottom: 36px;
  padding-top: 24px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.active,
.navLeftList:hover {
  color: #25d366;
  border-bottom: 1px solid #25d366;
}
.navCenter {
  display: flex;
  align-self: center;
  height: 50%;
  cursor: pointer;
}

.navRight {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.currency {
  display: flex;
}
.symbol {
  font-size: large;
  margin-right: 8px;
  font-weight: 500;
}

.currency:hover .angleIcon {
  transform: rotate(180deg);
}

.angleIcon {
  transition: all 0.3s ease-in-out;
  font-size: xx-small;
  align-self: center;
}

.navRightList {
  position: absolute;
  top: 51px;
  background-color: white;
  box-shadow: 0px 4px 35px 0px #a8acb030;
  width: 114px;
  right: 78px;
  visibility: hidden;
  z-index: 100;
}

.currency:hover .navRightList {
  transition: all 0.3s ease-in-out;
  visibility: visible;
}
.navRightWrapper {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.currencyList {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #1d1f22;
  height: 45px;
}
.currencyContainer {
  display: flex;
  justify-content: space-around;
}
.currencyList:hover {
  background-color: #eeeeee;
}
.cartIconContainer {
  position: relative;
  cursor: pointer;
}

.cartIcon {
  margin-left: 12px;
  font-size: 20px;
  outline: thick;
  color: rgba(0, 0, 0, 0.493);
}

.cartIconBadge {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: -5px;
  right: -5px;
  background-color: #1d1f22;
  font-size: xx-small;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  color: #fff;
}

.contentLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentRight {
  display: flex;
}
.quantitySet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.variationRemove:disabled,
.variationAdd:disabled {
  cursor: not-allowed;
  background-color: #25d36570;
}

.variationRemove,
.variationAdd {
  font-size: 20px;

  padding: 5px 12px;
  background-color: #25d366;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.miniCartAdd,
.miniCartRemove,
.miniCartQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  width: 10px;
  padding: 7px;
  margin-right: 15px;
  border: 1px solid black;
  font-size: 25px;
}
.miniCartQuantity {
  border: none;
  font-size: medium;
}
.miniCartImg {
  width: 120px;
  height: 120px;
}
.miniCartTotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}
.miniCartButtons {
  display: flex;
}
.viewBag,
.checkOut {
  width: 40%;
  flex: 1;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}
.viewBag {
  border: 1px solid black;
  margin-right: 5px;
}
.checkOut {
  background-color: #25d366;
  margin-left: 5px;
  color: white;
}
.checkOut:hover {
  color: black;
}
.viewBag:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.miniProductDisplayColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #454647fb;
  cursor: pointer;
  margin-right: 10px;
}
.attributeTitle {
  font-size: xx-small;
}
.attributesWrapper {
  margin-right: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 50px;
}

